<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  	<script type="text/javascript" src="/javascripts/ajax-utils.js"></script>
  	<script type="text/javascript" src="/javascripts/script.js"></script>
	<title>Shorty</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<img src="/images/shorty.jpg" id="logo">
			<h1 id="displayText">Shorten to Share</h1>			
    		<div class="input-group" id="test">
      			<input type="text" class="form-control" name="URL" placeholder="Search for...">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Shorten</button>
      			</span>
    		</div><!-- /input-group -->  			
		</div> 			
	</div>
</body>
</html>